<!-- Form Novo Produto -->
<div *ngIf="productAction?.event?.action === addProductAction">
	<form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
		<div class="card flex flex-column md:flex-column gap-3">
			<input pInputText placeholder="Nome" formControlName="name" />
			<input pInputText placeholder="Fornecedor" formControlName="supplier" />
			<input pInputText placeholder="Preço" formControlName="price" />

			<div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
				<p-button
				[disabled]="!addProductForm.valid"
				type="submit"
				label="Concluir"
				></p-button>
			</div>
		</div>
	</form>
</div>

<!-- Form editar Produto -->
<div *ngIf="productAction?.event?.action === editProductAction">
	<form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
		<div class="card flex flex-column md:flex-column gap-3">
			<input pInputText placeholder="Nome" formControlName="name" />
			<input pInputText placeholder="Fornecedor" formControlName="supplier" />
			<input pInputText placeholder="Preço" formControlName="price" />

			<div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
				<p-button
				[disabled]="!editProductForm.valid"
				type="submit"
				label="Concluir"
				></p-button>
			</div>
		</div>
	</form>
</div>